@page
@model CrimeManagementSystem.Pages.Officers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].PostingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].RetirementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].CaseSolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer[0].CasePending)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Officer[0].CasesWorked)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Officer[0].Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Officer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostingLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseSolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasePending)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CasesWorked)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
